.text {
  --text-block-padding: var(--x-text-block-padding, var(--space-small));
  --text-inline-padding: var(--x-text-inline-padding, var(--space-small));

  flex: 1;
  width: 100%;
  padding: var(--text-block-padding) var(--text-inline-padding);
  outline: none;

  &:focus {
    box-shadow:
      inset 0 0 0 1px var(--color-link),
      0 0 0 1px var(--color-link);
  }
}
