.row {
  margin-block: var(--space-base);
}

.text {
  width: 100%;
  height: 300px;
  background: #fff;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}
